@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html{
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
  color: #333333;
  height: 100%;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-wrapper{
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: 0 0 15px 0 #00000033;
;
}

.page-header{
  display: flex;
  padding: 0 70px;
  min-height: 64px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  align-items: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-bottom: -6px;
  z-index: 100;
}

.logo img{
  display: block;
}

.page-header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}

.navigation-list {
  display: flex;
  width: 464px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link-currently{
  position: relative;
}

.navigation-link-currently::after{
  position: absolute;
  content: "";
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.user-navigation {
  display: flex;
  width: 338px;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-link,.card-link,.footer-social-link,.phones-number,.pages-link{
  display: block;
  color: #000000;
  text-decoration: none;
}

.navigation-link{
  min-width: 20px;
  min-height: 20px;
  padding: 20px 16px;
}

.user-navigation .navigation-link{
  padding: 22px 12px;
}

.user-navigation .button{
  margin-left: 20px;
  padding: 8px 34px;
}

.navigation-icon-search{
  background-image: url(../images/background/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-icon-preferences{
  background-image: url(../images/background/preferences.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative
}

.user-navigation-counter{
    position: absolute;
    background-color: #7DB54F;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    top: 11px;
    left: 20px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
}

.button{
  background-color: #756157;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.big-button{
  font-size: 20px;
  line-height: 36px;
}

.main,.main-inner{
  flex-grow: 1;
}

.promo-image{
  display: block;
  padding: 51px 0 82px;
  margin: 0 auto;
}

.main-promo{
  background-image: url(../images/background/divider.svg),url(../images/background/promo.jpg);
  background-size: 100% auto,cover;
  background-position: left bottom,left top;
  background-repeat: no-repeat;
  background-color: #a1c0d5;
  margin-bottom: 69px;
}

.section-title,.search-title{
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.section-description,.search-text{
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.section-subtitle{
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}

.section-subtitle::after{
  content: "";
  width: 60px;
  height: 2px;
  background-color: #0000004D;
  top: 86px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
}

.features-large .section-subtitle::after{
  background-color: #FFFFFF4D;
}

.features{
  text-align: center;
  margin-bottom: 64px;
}

.features-title{
  margin-bottom: 25px;
}

.features-description{
  margin-bottom: 90px;
}

.features-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item{
  width: 400px;
  box-sizing: border-box;
  padding: 112px 85px;
}


.features-large{
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 0;
}

.features-small:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-small:nth-of-type(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-large-wrapper{
  width: 400px;
  padding: 102px 85px;
  box-sizing: border-box;
}

.features-large .section-subtitle{
  color: #ffffff;
}

.features-title{
  margin-bottom: 62px;
}

.features-text{
  margin: 0;
}

.services{
  text-align: center;
}

.services-list{
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-title{
  margin-bottom: 20px;
}

.services-description{
  margin-bottom: 64px;
}

.services-item{
  box-sizing: border-box;
  width: 400px;
  padding: 183px 85px 81px;
  background-repeat: no-repeat;
  background-position: 162.5px 81px;
}

.services-item:nth-of-type(odd){
  background-color: #83B3D31F;
}

.services-item-dwelling{
  background-image: url(../images/background/dwelling.svg);
}

.services-item-food{
  background-image: url(../images/background/food.svg);
}

.services-item-gift{
  background-image: url(../images/background/gift.svg);
}

.services-item-text{
  margin: 0;
}

.services-item-title{
  margin-bottom: 30px;
}

.section-subtitle{
  font-size: 24px;
  line-height: 28px;
}

.search{
  width: 1200px;
  text-align: center;
  padding: 96px 304px;
  box-sizing: border-box;
}

.search-title{
  margin-bottom: 20px;
}

.search-text{
  margin-bottom: 54px;
}

.search-button{
  text-decoration: none;
  display: inline-block;
  padding: 8px 50px;
  min-width: 276px;
  border: none;
}

.subscribe{
  background-color: #a1c0d5;
  color: #ffffff;
  background-image: url(../images/background/subscribe.jpg);
  background-size: 100% auto;
  background-position: left top;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}



.subscribe-title{
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description{
  margin-bottom: 54px;
}

.subscribe-form{
  display: flex;
  margin: 0 auto;
  width: 684px;
  border-radius: 4px;
}
.subscribe-field{
flex-grow: 1;
}
.subscribe-button{
  min-width: 132px;
  min-height: 36px;
  padding: 8px 50px;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.field-input{
  width: 452px;
  padding: 14px 0 14px 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.field-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
;
}

.subscribe-button{
  background-color: #82B3D3;
}

.footer{
  display: flex;
  padding: 40px 70px 30px;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-social-list{
  display: flex;
  align-items: center;
  width: 190px;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.footer-social-link{
  position: relative;
  display: block;
  min-width: 24px;
  min-height: 17px;
  padding: 11.5px 11.665px ;
}

.navigation-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;


}

.footer-phone{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 331px; ;
}

.phones-number{
  font-size: 40px;
  line-height: 40px;
}

.footer-developer{
  position: relative;
  width: 115px;
  height: 40px;
}

.inner-wrapper{
  background-color: #a1c0d5;
  color: #ffffff;
  background-image: url(../images/background/main-inner.jpg);
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.filters-form{
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}

.filter-fields{
  width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: none;
}

.filter-fields:nth-child(3){
  width: 288px;
  margin-left: auto;
}

.filter-title{
  margin-bottom: 32px;
  padding: 0;
}

.filter-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 23px;
  padding-left: 36px;
  margin-bottom: 16px;
}

.control-mark{
  position: absolute;
  top: 1.5px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark{
  background-image: url(../images/background/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"] + .control-mark{
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
  content: "";
}

.range-wrapper-inputs{
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 44px;
}

.range-input-label{
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 4px;
}

.range-input{
  width: 143px;
  box-sizing: border-box;
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  background-color: #F2F2F2;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-max{
  border-radius: 0 4px 4px 0;
}

.range-input-min{
  border-radius: 4px 0 0 4px;
}

.range-input-text{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.range-slider{
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider-bar{
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.slider-button{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
}

.slider-button-min{
  top: -8px;
  left: 0;
}

.slider-button-max {
  top: -8px;
  right: 0;
}

.filter-buttons{
 display: flex;
 flex-direction: column;
 width: 191px;
 padding-top: 56px;
 flex-wrap: wrap;
 gap: 32px;

}

.main-inner-title{
font-weight: 700;
font-size: 60px;
line-height: 78px;
margin: 0;
margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}


.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  width: 8px;
  height: 20px;
  margin-left: 10px;
  background-image: url(../images/background/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-main {
  display: block;
  width: 13px;
  height: 20px;

  background-image: url(../images/background/main-page.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.filter-title{
font-weight: 700;
font-size: 20px;
line-height: 24px;
}

.control{
  line-height: 23px;
}

.range-field{
  line-height: 24px;
}

.filter-button-submit{
  background-color: #82B3D3;
  padding: 8px 0;
}

.filter-button-reset{
  background-color: transparent;
  padding: 8px 0;
}

.catalog{
  padding: 50px 70px 60px;
}

.catalog-sort{
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 40px;
}

.sort-title{
  margin-right: 200px;
}

.sort-select{
  width: 292px;
  padding: 14px 131px 14px 20px;
}

.select-option{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.sort-viewer-list{
  display: flex;
  flex-wrap: wrap;
  width: 216px;
  gap: 8px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
  justify-content: end;
  align-items: center;
}

.viewer-link{
  display: block;
  min-width: 16px;
  min-height: 14px;
  padding: 15px 14px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.viewer-link-active{
  border-color: #000000;
}

.viewer-icon{
  background-image: url(../images/background/View-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.viewer-compact{
  background-image: url(../images/background/View-compact.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.viewer-list{
   background-image: url(../images/background/View-list.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card-title{
font-size: 24px;
line-height: 28px;
}

.button-fiast{
  padding: 8px 26px;
}

.button-second{
  background-color: #82B3D3;
  padding: 8px 20px;
}

.button-second-active{
  background-color: #7DB54F;
  padding: 8px 18px;
}

.card-rate{
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
padding: 9px 22px 8px 23px;
background-color: #F2F2F2;
border-radius: 4px;
margin: 0;
}
.pages-link{
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
}

.main-inner .subscribe{
  background-color: transparent;
  background-image: none;
  color: #000000;
}

.main-inner .subscribe-title{
  color: #000000;
}

.pages-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400px;
}

.pages-link{
  width: 60px;
  height: 60px;
  background-color: #82B3D3 ;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-card-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}

.card-item{
  width: 340px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px min-content min-content auto auto;
  gap: 16px 20px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px #e5e5e5, -1px -1px #e5e5e5;
  border-radius: 4px;
}

.card-img {
  grid-column: 1 / -1;
  width: 100%;
}

.card-title {
  grid-column: 1 / -1;
  margin: 0;
}

.card-description {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.star-two{
  margin: 0;
  background-image: url(../images/background/TwoStars.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}

.star-three{
  margin: 0;
  background-image: url(../images/background/ThreeStars.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}

.star-four{
  margin: 0;
  background-image: url(../images/background/FourStars.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}
