@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
  color: #333333;
}

.content-wrapper{
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.page-header{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.navigation-link,.card-link{
  color: #000000;
  text-decoration: none;
}

.button{
  background-color: #756157;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.big-button{
  font-size: 20px;
  line-height: 36px;
}

.main-promo{
  background-image: url(../images/background/divider.svg),url(../images/background/promo.jpg);
  background-size: 100% auto,cover;
  background-position: left bottom,left top;
  background-repeat: no-repeat;
  background-color: #2c92d6;
}

.section-title{
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.section-description{
  font-size: 22px;
  line-height: 26px;
}

.features-item{
  background-color: rgba(131, 179, 211, 0.12);
}

.section-subtitle{
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.features-large{
  color: #ffffff;
  background-color: #82B3D3;
}

.features-large .section-subtitle{
  color: #ffffff;
}

.features-item:nth-child(3){
  background-color: rgba(131, 179, 211, 0.2);
}

.section-subtitle{
  font-size: 24px;
  line-height: 28px;
}

.search-button{
  text-decoration: none;
}

.subscribe{
  background-color: #2c92d6;
  color: #ffffff;
  background-image: url(../images/background/subscribe.jpg);
  background-size: 100% auto;
  background-position: left top;
  background-repeat: no-repeat;
}

.subscribe-title{
  color: #ffffff;
}

.field-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
;
}

.subscribe-button{
  background-color: #82B3D3;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
}

.inner-wrapper{
  background-color: #2c92d6;
  color: #ffffff;
  background-image: url(../images/background/main-inner.jpg);
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}

.main-inner-title{
font-weight: 700;
font-size: 60px;
line-height: 78px;
}

.breadcrumbs-list{
  font-size: 16px;
}

.filter-title{
font-weight: 700;
font-size: 20px;
line-height: 24px;
}

.control{
  line-height: 23px;
}

.range-field{
  line-height: 24px;
}

.filter-button-submit{
  background-color: #82B3D3;
}

.filter-button-reset{
  background-color: transparent;
}

.sort-select{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.card-title{
font-size: 24px;
line-height: 28px;
}

.button-second{
  background-color: #82B3D3;
}

.marked-button{
  background-color: #7DB54F;
}

.card-rate{
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
}
.pages-link{
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
}

.main-inner .subscribe{
  background-color: transparent;
  background-image: none;
  color: #000000;
}

.main-inner .subscribe-title{
  color: #000000;
}
