@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html{
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
  color: #333333;
  height: 100%;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-wrapper{
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header{
  display: flex;
  padding: 0 70px;
  min-height: 64px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.page-header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.navigation-list {
  display: flex;
  width: 464px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation {
  display: flex;
  width: 338px;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-link,.card-link{
  display: block;
  color: #000000;
  text-decoration: none;
}

.page-header-navigation .navigation-link{
  min-width: 20px;
  min-height: 20px;
  padding: 20px 16px;
}

.user-navigation-link{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.button{
  background-color: #756157;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
}

.user-navigation .button{
  padding: 8px 34px;
}

.big-button{
  font-size: 20px;
  line-height: 36px;
}

.main,.main-inner{
  flex-grow: 1;
}

.promo-image{
  display: block;
  padding: 51px 0 82px;
  margin: 0 auto;
}

.main-promo{
  background-image: url(../images/background/divider.svg),url(../images/background/promo.jpg);
  background-size: 100% auto,cover;
  background-position: left bottom,left top;
  background-repeat: no-repeat;
  background-color: #a1c0d5;
}

.section-title{
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.section-description{
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.section-subtitle{
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.features{
  text-align: center;
}

.features-titles-wrapper{
  padding: 69px 274px;
}

.features .section-title{
  margin-bottom: 25px;
}

.features-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item{
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  box-sizing: border-box;
  padding: 112px 85px;
}


.features-large{
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 0;
}

.features-large-wrapper{
  width: 400px;
  padding: 102px 85px;
  box-sizing: border-box;
}

.features-large .section-subtitle{
  color: #ffffff;
}

.features-title{
  margin-bottom: 62px;
}

.features-text{
  margin: 0;
}

.features-item:nth-child(3){
  background-color: rgba(131, 179, 211, 0.2);
}

.services{
  text-align: center;
}

.services-titles-wrapper{
  width: 1200px;
  padding: 64px 347.5px;
  box-sizing: border-box;
}

.services .section-title{
  margin-bottom: 20px;
}

.services-list{
  display: flex;
  background-color: #83B3D31F;
}

.services-item:nth-child(2){
  background-color: #ffffff;
}

.services-item{
  width: 400px;
}

.section-subtitle{
  font-size: 24px;
  line-height: 28px;
}

.search{
  text-align: center;
}

.search-button{
  text-decoration: none;
}

.subscribe{
  background-color: #a1c0d5;
  color: #ffffff;
  background-image: url(../images/background/subscribe.jpg);
  background-size: 100% auto;
  background-position: left top;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-title{
  color: #ffffff;
}

.field-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
;
}

.subscribe-button{
  background-color: #82B3D3;
}

.footer{
  display: flex;
  padding: 40px 70px 30px;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list{
  display: flex;
  align-items: center;
  width: 140px;
  margin: 0;
  padding: 0;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  width: 331px;
}

.footer-developer{
  width: 115px;
}

.inner-wrapper{
  background-color: #a1c0d5;
  color: #ffffff;
  background-image: url(../images/background/main-inner.jpg);
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}

.center-wrapper{
  width: 1060px;
  margin: 0 auto;
}

.filters-form{
  display: flex;
  flex-grow: 1;
}

.filter-fields{
  width: 150px;
  margin-right: 70px;
}

.filter-fields:nth-child(3){
  width: 288px;
  margin-left: auto;
}

.filter-buttons{
 display: flex;
 flex-direction: column;
}

.main-inner-title{
font-weight: 700;
font-size: 60px;
line-height: 78px;
margin: 0;
}

.breadcrumbs-list{
  font-size: 16px;
}

.filter-title{
font-weight: 700;
font-size: 20px;
line-height: 24px;
}

.control{
  line-height: 23px;
}

.range-field{
  line-height: 24px;
}

.filter-button-submit{
  background-color: #82B3D3;
}

.filter-button-reset{
  background-color: transparent;
}

.catalog-sort{
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.sort-select{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 292px;
}

.sort-title{
  margin-right: 200px;
}

.sort-viewer-list{
  display: flex;
  flex-wrap: wrap;
  width: 216px;
  gap: 8px;
  margin-left: auto;
  padding: 0;
  list-style: none;
  justify-content: end;
  align-items: center;
}

.viewer-link{
  display: block;
  min-width: 16px;
  min-height: 14px;
  padding: 15px 14px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.viewer-link-active{
  border-color: #000000;
}

.viewer-icon{
  background-image: url(../images/background/View-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.viewer-compact{
  background-image: url(../images/background/View-compact.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.viewer-list{
   background-image: url(../images/background/View-list.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card-title{
font-size: 24px;
line-height: 28px;
}

.button-fiast{
  padding: 8px 26px;
}

.button-second{
  background-color: #82B3D3;
  padding: 8px 20px;
}

.button-second-active{
  background-color: #7DB54F;
  padding: 8px 18px;
}

.card-rate{
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
padding: 9px 22px 8px 23px;
background-color: #F2F2F2;
border-radius: 4px;
margin: 0;
}
.pages-link{
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
}

.main-inner .subscribe{
  background-color: transparent;
  background-image: none;
  color: #000000;
}

.main-inner .subscribe-title{
  color: #000000;
}

.pages-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400px;
}

.pages-link{
  width: 60px;
  height: 60px;
  background-color: #82B3D3 ;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-card-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.card-item{
  width: 340px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px min-content min-content auto auto;
  gap: 16px 20px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px #e5e5e5, -1px -1px #e5e5e5;
  border-radius: 4px;
}

.card-img {
  grid-column: 1 / -1;
  width: 100%;
}

.card-title {
  grid-column: 1 / -1;
  margin: 0;
}

.card-description {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.star-two{
  margin: 0;
  background-image: url(../images/background/TwoStars.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}

.star-three{
  margin: 0;
  background-image: url(../images/background/ThreeStars.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}

.star-four{
  margin: 0;
  background-image: url(../images/background/FourStars.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}
